<% if citizen_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_citizen_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_citizen_session_path)  %>
  </li>
<% end %>